.map-molder {
    width: 100%;
    height: 670px;
}
.map--marker {
    padding: 20px 28px;
    border-radius: 50%;
    font-size: 30px;
    position: relative;
    top: -64px;
    color: #7dc336;
    background-color: transparent;
    box-shadow: none !important;

    i {
        font-size: 45px;
    }
}

.map--contact-box {
    position: absolute;
    top: -295px;
    bottom: unset;
    right: 160px;
    background-color: $green;
    padding: 60px 64px;
    z-index: 99;
    color: white;

    .map--contact-box-number, .map--contact-box-fax, .map--contact-box-email {
        position: relative;
        padding-left: 40px;
        margin-bottom: 15px;

        img {
            position: absolute;
            left: 0;
            width: 20px;
            top: 2px;
        }

        a {
            color: white;
        }
    }
    .map--contact-box-address {
        margin: 20px 0 30px;
    }
    .map--contact-box-location {
        color: $darkBlue;
        font-weight: 700;
    }
}

.contact--form {
    padding: 150px 0;
    form {
        margin-top: 40px;

        .MuiFormControl-root-108 {
            width: 100%;
        }
        fieldset {
            border-radius: 0;
        }
        label {
            top: 4px;
        }
    }
}