.locations {
    padding: 130px 0;

    .container {
        padding: 0 30px;

        .locations--email {
            font-size: remSize(21px);
            color: white;
        }
        h2 {
            letter-spacing: 2.5px;
            margin-bottom: 50px;
            margin-top: -40px;
        }
        .location {
            color: white;
            display: flex;
            flex-wrap: wrap;
            min-height: 180px;

            div {
                width: 100%;
            }
            .location--title {
                font-weight: bold;
            }
            .location--details {
                line-height: 22px;
                margin-bottom: 10px;
                font-weight: 300;
            }
            .location--tel {

                a {
                    color: white;
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }
}