

.services {
    &.Gridbox {
        padding: 80px;
        position: relative;

        @media screen and(max-width: $tablet) {
            right: 0 !important;
            left: 0 !important;
        }
    
        
        &.services {
            background-color: white;
        }
        .services--title {
            font-size: remSize(20px);
            font-weight: 700;
            margin: 15px 0;
            line-height: 26px;
        }
    
        .services--text {
            font-size: remSize(16px);
            font-weight: 400;
            line-height: 26px;
            margin: 15px 0;
        }
    }
    &.section {
        padding: 20px 80px;
        position: relative;
    
        h2 {
            margin-bottom: 80px;
        }
        
        &.services {
            background-color: white;

            .row {
                margin-bottom: 30px;
            }
        }
        .services--title {
            font-size: remSize(20px);
            font-weight: 700;
            margin: 15px 0;
            line-height: 26px;
        }
        .services--icon {
            margin-bottom: 30px;
        }
        .services--text {
            font-size: remSize(16px);
            font-weight: 400;
            line-height: 26px;
            margin: 15px 0;
        }
    }
}