.mtt {
    padding: 120px 0; 
    p {
        max-width: 350px;
    }
    button {
        margin-top: 50px;
    }
    .mtt-members {
        .mtt-members-holder {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: initial;
            align-items: flex-start;
        }
        
        .mtt-member {
            .mtt-member--overlay {
                opacity: 0;
                position: absolute;
                z-index: 90;
                background-color: #ff000000;
                width: 100%;
                height: 100%;
                top: 0;
                font-size: 14px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 30px;
                -webkit-transition: 0.5s all cubic-bezier(0.33, 0.88, 0.4, 0.79);
                -o-transition: 0.5s all cubic-bezier(0.33, 0.88, 0.4, 0.79);
                transition: 0.5s all cubic-bezier(0.33, 0.88, 0.4, 0.79);
            }
            img {
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                -webkit-transition: 0.5s all cubic-bezier(0.33, 0.88, 0.4, 0.79);
                -o-transition: 0.5s all cubic-bezier(0.33, 0.88, 0.4, 0.79);
                transition: 0.5s all cubic-bezier(0.33, 0.88, 0.4, 0.79);
            }
            .mtt-member--overlay-name {
                color: #155486;
                font-weight: bold;
                position: absolute;
                top: 25px;
                right: 15px;
            }
            &:hover {
                .mtt-member--overlay {
                    opacity: 1;
                }
                img {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                }
            }
        }

        &.active {
            .react-reveal {
                flex: none;
                padding-left: 0;
            }
        }
    }
    .mtt-load {
        width: 100%;
    }
    .col {
        padding: 0;
    }
    .hidden {
        display: none;
    }
    .mtt-search {
        margin-bottom: 50px;

        label {
            position: absolute;
            z-index: 99;
            margin-bottom: -10px;
            top: 3px;
            color: rgba($darkBlue, .7);
        }
        label + .MuiInput-formControl-159 {
            margin-top: 0;
        }
        input {
            border: none;
            border-bottom: 1px solid $darkBlue;
            outline: none;
            padding: 10px;
        }
        .MuiFormControl-root-94 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .iconButton {
            padding: 10px;
        }
        .MuiGrid-container-143 {
            max-width: 390px;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        .MuiInputBase-root-65 {
            position: relative;
        }
        .MuiInputAdornment-root-129.MuiInputAdornment-positionStart-131 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            background-color: transparent;
        }
        .MuiGrid-align-items-xs-flex-end-40 {
            align-items: flex-end;
            justify-content: center;
        }
    }
    .mtt--search-box {
        .mtt--search-box-input {
            margin: 0;
            height: 56px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .MuiOutlinedInput-multiline-194 {
            padding: 0;
            width: 100%;
            height: 100%;
        }
        fieldset {
            border-radius: 0;
            border-color: $darkBlue;
            transition: .4s all ease-in-out;
        }
        span.material-icons {
            position: absolute;
            top: 20px;
            right: 10px;
            color: $darkBlue;
        }
        textarea {
            padding: 14.5px 14px;
            height: 100% !important;
        }
        div {
            width: 100%;
        }
    }
    .mtt-member--popup {
        padding: 42px;
        background-color: #FF9800;
        width: 100%;
        display: inline-grid;
        position: relative;
        right: 15px;

        p {
            max-width: 100%;
        }
        .mtt-member--popup-name, .mtt-member--popup-surname {
            font-size: 32px;
            font-weight: bold;
            color: #155486;
        }
        .mtt-member--popup-title {
            font-size: 23px;
            color: white;
            font-weight: bold;
            margin-top: 15px;
        }
        .mtt-member--popup-description {
            color: white;
            margin: 20px 0;

            strong {
                color: #0e5387;
            }
        }
        .mtt-member--popup-email, .mtt-member--popup-number {
            color: white;
            padding-left: 30px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            min-height: 22px;

            img {
                position: absolute;
                left: 0;
            }
        }

        .mtt-member--popup-close {
            position: absolute;
            right: 25px;
            top: 20px;
            font-size: 20px;
            color: #666b62;
            cursor: pointer;

            i {
                font-size: 30px;
                color: #0e5387;

            }
        }
    }
    
}