.news-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    .news-post {
        margin: 0 6px;
        div {
            transition: .4s all ease;
        }
        &:hover {
            .news-post--image, .news-post--content {
                transform: scale(1.03);

                .news-post--content-date {
                    background-color: $lightBlue;
                }
            }
        }
        .news-post--image {
            width: 360px;
            height: 200px;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
        }
        .news-post--content {
            width: 360px;
            max-width: 100%;
            padding: 30px 20px;
            background-color: $green;
            color: white;
            margin-bottom: 25px;
            box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);

            .news-post--content-date {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                font-size: 12px;
                background-color: $darkBlue;
            }

            .news-post--content-title {
                font-size: remSize(32px);
                font-weight: 600;
                color: $darkBlue;
                margin-top: 35px;
            }

            .news-post--content-snippet {
                font-size: remSize(16px);
                line-height: 22px;
                color: white;
                margin: 25px 0;
            }

            .news-post--content-link {
                a {
                    display: inline-flex;
                    align-items: center;
                    font-size: remSize(12px);
                    color: $darkBlue;
                    text-decoration: none;
                    transition: .4s all ease-in-out;

                    i {
                        right: 0;
                        transition: .4s all ease;
                    }
                    
                    &:before {
                        content: "";
                        position: absolute;
                        width: 105%;
                        height: 1px;
                        bottom: -3px;
                        left: 0px;
                        background-color: $darkBlue;
                        transition: .4s all ease-in-out;
                    }

                    &:hover {
                        color: white;

                        &:before {
                            width: 110%;
                            background-color: white;
                        }
                        i {
                            right: -10px;
                        }
                    }
                }
            }
        }
    }
}
.news-story {
    .news-story--title {
        font-size: remSize(55px);
        font-weight: 700;
        color: $green;
        margin-bottom: 30px;
    }
    .news-story--date {
        font-size: remSize(12px);
        font-weight: 600;
    }
    .news-story--content {
        padding: 60px 0;

        strong {
            font-weight: 600;
            color: $darkBlue;
        }
    }
}
.pagination {
    a {

        display: inline-flex;
        align-items: center;
        font-size: remSize(12px);
        font-weight: 600;
        color: $darkBlue;
        text-decoration: none;
        margin-right: 45px;
        transition: .4s all ease-in-out;

        i {
            right: 0;
            transition: .4s all ease;
        }
        
        &:before {
            content: "";
            position: absolute;
            width: 105%;
            height: 1px;
            bottom: -3px;
            left: 0px;
            background-color: $darkBlue;
            transition: .4s all ease-in-out;
        }

        &:hover {
            color: $green;

            &:before {
                background-color: $green;
            }
        }
    }
}