
.sectors {
    margin-top: 40px;

    .sector {
        min-width: 515px;
        min-height: 418px;
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        .sector--name {
            font-size: 20px;
            font-weight: 700;
            color: black;
            margin-bottom: 20px;
        }
        .sector--text {
            color: white;
        }
    }
}