.client--slider {
    max-width: 1180px !important;
    margin-top: 80px;

    .slick-slide {
        opacity: .5;
        padding: 0 40px;
        text-align: CENTER;

        &.slick-active {
            opacity: 1;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        .client--text {
            margin-top: 70px;

            p {
                font-size: remSize(28px);
                line-height: 36px;
                font-weight: 700;
                color: #1a5585;
            }
        }
        .client--name {
            margin-top: 50px;
            font-size: remSize(18px);
            color: $green;
            padding-top: 30px;

            .client--name-divider {
                height: 2px;
                width: 70px;
                background-color: $green;
                top: -30px;
                margin: 0 auto;
            }
        }
    }

    button.slick-arrow {
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: #7dc236;
        padding: 20px;
        border-radius: 50%;
        top:0;

        &.slick-prev {
            margin-left: -30px;
        }
        &.slick-next {
            margin-right: -30px;
        }

        i.material-icons {
            margin-top: -10px;
            position: absolute;
            font-size: 30px;
        }
    }
}

.intro--slider {
    width: 107%;
    @media screen and(max-width: $tablet) {
        width: 100%;
        height: 380px;
    }

    .slick-slide {
        opacity: 0;
        transition: .5s all ease;

        &.slick-active {
            opacity: 1;
        }
        img {
            display: block;
            max-width: 390px;
            top: 0px;
        }
    }
    .header--intro .intro--img {
        bottom: -1px;
        position: absolute;
        right: -50px;
    }
    .slick-arrow {
        display: flex !important;
        justify-content: space-evenly;
        background-color: transparent;
        color: transparent;
        height: 0;
        box-shadow: none;

        i.material-icons {
            position: absolute;
            font-size: 80px;
            color: white;
            top: -60px;
        }

        &:before {
            display: none;
        }
        &.slick-prev {
            left: -70px;
            @media screen and(max-width: $tablet) {
                left: -70px;
            }
        }
        &.slick-next {
            right: -70px;

            @media screen and(max-width: $tablet) {
                right: 115px;
            }
        }
    }
}