.vacancies {
    .vacancy {
        padding: 35px 20px;
   
        .vacancy--title {
            font-size: remSize(30px);
            font-weight: 700;
            color: $green;
        }
        .vacancy--details {
            display: flex;
            margin-top: 10px;

            div {
                margin-right: 20px;
                display: flex;
                align-items: center;
                min-width: 185px;

                .material-icons {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }
            }
        }
    }
    .vacancy--text {
        padding: 10px 25px;

        p {
            margin-bottom: 15px;

            strong {
                color: $green;
                font-weight: bold;
            }
        }
    }
}
