footer {
    padding: 70px 0;

    .cowcorner {
        flex-direction: column;
        flex-wrap: wrap;

        .cowcorner--copy {
            color: white;
            font-size: remSize(15px);
            text-align: right;
            padding-right: 15px;
            margin-bottom: 25px;
        }
        .navbar-brand {
            text-align: right;
        }
    }
    .menu {
        justify-content: flex-start !important;
        margin-top: 50px;
        font-weight: 600;
        a {
            font-size: 14px;
            margin: 0 15px;

            &:hover {
                color: white !important; 
            }
        }
        &.menu-bottom {
            font-size: 11px;
            font-weight: 500;
            margin: 40px 0 20px;
            color: white;

            a {
                font-size: 11px !important;
                font-weight: 400 !important;

                &:hover {
                    color: white !important; 
                }
            }
            .copy {
                margin: 0px 20px;
            }
            .social--links {
                display: flex;

                a {
                    margin: 10px 10px;
                   i {
                    font-size: 13px;
                   }
                }
            }
        }
    }
}