nav.navbar {
    height: 150px;
    border-bottom: none;
    background-color: transparent;
    box-shadow: none;

    .menu--holder {
        width: 100%;
    }
    .menu--dark {
        width: 100%;

        ul {
            .menu {
                a {
                    color: $darkBlue;

                    &:before {
                        background-color: $darkBlue;
                    }
                }
                &.menu--top {
                    position: relative;
                    top: -25px;
                    a {
                        font-size: remSize(14px);
                        color: $darkBlue;

                        &:before {
                            background-color: $darkBlue;
                        }
                    }
                }
                [tabindex="1"] {
                    outline: none;
                }
            }
        }

    }
    .menu--darkBlue {
        ul {
            .menu {
                a {
                    color: white;

                    &:before {
                        background-color: $white;
                    }
                    &:hover {
                        color: white !important;
                    }
                }
            }
        }
    }
    ul {
        justify-content: flex-end;

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
        
            a {
                margin: 0 20px;
                padding: 0;
                color: white;
                font-size: remSize(17px);
                font-weight: 600;
                text-decoration: none;
                position: relative;
                transition: $thetransition;
        
                &:hover {
                    text-decoration: none;
                    color: $darkBlue;
                    background-color: none;
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: -10px;
                    left: 0;
                    background-color: #ffffff;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: $thetransition;
                    transition: $thetransition;
                }
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
                &.active {
                    color: #0f3f65;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: -10px;
                        left: 0;
                        background-color: #ffffff;
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);

                }
                }
            }

            &.menu--top {
                position: relative;
                top: -25px;
                a {
                    font-size: remSize(14px);
                    color: white;
                }
                .social--links {
                    min-width: 100px;
                    text-align: right;
                    padding-right: 10px;
                    a {
                        margin: 0 10px;
                        font-size: 20px;
                        padding: 0;
                        display: inline;
                    }
                }
            }
        }
    }
}
header {
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    background-size: cover;

    @media screen and(max-width: $tablet) {
        overflow-x: hidden;
        overflow-y: hidden;
        min-height: unset !important;
    }
    .header--intro {
        height: 580px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        @media screen and(max-width: $tablet) {
            max-height: 350px;
            max-width: 550px;
            padding: 30px;
            flex-direction: column;
        }

        h1.intro--text {
            font-size: remSize(55px);
            font-weight: 700;
            max-width: 750px;
            letter-spacing: 2px;
            line-height: normal;
            margin-bottom: 50px;
            color: white;

            @media screen and(max-width: $tablet) {
                font-size: remSize(25px);
            }
        }
        .intro--author {
            font-size: remSize(18px);
            font-weight: bold;
            color: $green;
        }
        .intro--img {
            bottom: -1px;
            position: absolute;
            right: -140px;

            @media screen and(max-width: $tablet) {
                display: none;  
            }
        }
        .btn-large {
            align-self: flex-start;
        }
    }
}
.header--content {

    @media screen and(max-width: $tablet) {
        height: 380px;   
    }
    height: 580px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .container {
        padding: 0 !important;
    }
}
.section--overlay {
    width: 55%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    transition: 3s all cubic-bezier(0, 1.29, 0.58, 1);
    @media screen and(max-width: $tablet) {
        display: none;
    }
    &.overlay--active {
        width: 100%;
    }
}

.underline--link {
    margin: 0 20px;
    padding: 0;
    color: white;
    font-size: remSize(17px);
    text-decoration: none;
    position: relative;
    transition: $thetransition;
    margin-left: 0;

    &:hover {
        text-decoration: none;
        color: #0f3f65;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -10px;
        left: 0;
        background-color: #ffffff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: $thetransition;
        transition: $thetransition;
    }
    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    &.active {
        color: #0f3f65;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -10px;
            left: 0;
            background-color: #ffffff;
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);

        }
    }
}