@import 'nav';
@import 'footer';
.row {
    @media screen and(max-width: $tablet) {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
section {
    padding: 70px 0;

    

    &.work-with {
        padding: 130px 0;
    }
    &.vacancies-footer {
        padding: 140px 0;

        .btn-large {
            margin-top: 25px;
        }
    }
}
body {
    &.home {
        header {
            background-color: $darkBlue;
        }
        .row {
            margin-bottom: 20px;
        }
        h2 {
            @media screen and(max-width: $tablet) {
                width: 100%;
            }
        }
        .work-with {
            @media screen and(max-width: $tablet) {
                text-align: center;
            }
            .work-with--clients {
                @media screen and(max-width: $tablet) {
                    padding: 40px 0;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    &.what-we-do {
        header {
            background-image: url(/static/assets/img/headers/what-we-do.png);
        }
    }
    &.work-with {
        header {
            background-image: url(/static/assets/img/headers/work-with.png);
            background-position: 0 -100px;
            min-height: 796px;
        }
    }
    &.about {
        header {
            background-image: url(/static/assets/img/headers/about.png);
            background-position: 0 -150px;
            min-height: 796px;
        }
    }
    &.contact {
        header {
            min-height: 150px;

            .header--content {
                display:none;
            }
        }
    }
    &.news {
        header {
            background-color: $lightBlue;
            .navbar {
                background-color: $darkBlue;
            }
        }
    }
}
p {
    font-weight: 400;
    font-size: remSize(16px);
    line-height: 26px;
}