body {
    button, .btn-large, .btn {
        background-color: transparent;
        box-shadow: 0px 0px 1px 1px;
        border: none;
        border-radius: 0;
        font-size: remSize(12px);
        display: inline-flex;
        flex-direction: row;
        align-self: center;
        padding: 15px 20px;
        line-height: 23px;
        outline: none !important;
        transition: all .4s ease-out;

        &:hover {
            background-color: transparent;
            box-shadow: 0px 0px 1px 1px;
            color: $green !important;
            text-decoration: none;
        }
        &:focus {
            background-color: transparent;
        }
    }

    .align-self-center {
        .btn-large, .btn {
            margin-top: 50px;
            background-color: transparent;
            box-shadow: 0px 0px 1px 1px;
            border-radius: 0;
            font-size: 0.75rem;
            display: inline-flex;
            flex-direction: row;
            align-self: center;
            padding: 15px 20px;
            line-height: 23px;
            outline: none !important;
            transition: all .4s ease-out;
        }
    }

    .bg-lightBlue {
        button, .btn-large, .btn {
            &:hover {
                color: white !important;
            }
        }
    }

    header {
        button, .btn-large, .btn {
            &:hover {
                color: black !important;
            }
        }
    }
}