@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');


$base_font: 'Montserrat', sans-serif;



h2 {
    font-weight: 700;
    font-size: remSize(40px);
    margin-bottom: 40px;
}