$darkBlue: #1a5585;
$lightBlue: #51becc;
$green: #75b748;
$orange: #f7941d;
$yellow: #e9cb00;
$pink: #deaaae;
$purple: #8e2f92;

$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

$lgDesktop: 1900px;
$desktop: 1500px;
$smDesktop: 1200px;
$tablet: 991px;
$smTablet: 768px;
$mobile: 480px;
$smMobile: 350px;

$base-font-size: 16px;

@function remSize ($target, $context: $base-font-size) {
    @return ($target / $context) * 1rem;
}

.txt_green {
    color: $green !important;

    a {
        color: $green !important;
    }
}
.txt_black {
    color: black;
}
.lightBlue {
    color: $lightBlue !important;
}
.txt_white {
    color: white !important;

    a {
        color: white !important;
    }
}
.darkBlue {
    color: $darkBlue !important;
}
.txt_purple {
    color: $purple !important;
}
.bg-lightBlue {
    background-color: $lightBlue;
}
.bg-darkBlue {
    background-color: $darkBlue;
}
.bg-green {
    background-color: $green !important;
}
.bg-orange {
    background-color: $orange;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-pink {
    background-color: $pink !important;
}
.bg-purple {
    background-color: $purple !important;
}

.darkBlue-hover {
    &:hover {
        color: $darkBlue !important;
    }
}

