@import 'variables';
@import 'fonts';
@import 'buttons';

html {
    @media screen and(max-width: $tablet) {
        font-size: 14px;
    }
}
body {
    overflow-x: hidden;
    height: auto !important;

    * {
        position: relative;
        z-index: 10;
        line-height: normal;
        font-family: $base_font;
       
    }
}
[tabindex="1"] {
    outline: none !important;
}
img {
    max-width: 100%;
}

.container {
    max-width: 980px;

    &.wide {
        max-width: 1180px;
    }
}
.fab {
    height: auto;
}

.react-reveal {
    transition: .4s all ease;
    @media screen and(max-width: $tablet) {
        transition-delay: 300;
        opacity: 1 !important;
    }
}