html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background-color:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:0.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}
@media (min--moz-device-pixel-ratio:0){summary{display:list-item;}}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.fieldgroup{border-width:0;padding:0;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:1.5em;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:0.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle;}.system-status-counter__status-icon:before{content:"";background-size:20px;background-position:center 2px;background-repeat:no-repeat;display:block;}.system-status-counter__status-icon--error:before{background-image:url(/core/themes/stable/images/core/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/themes/stable/images/core/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/themes/stable/images/core/icons/73b355/check.svg);}
body.drag{cursor:move;}tr.region-title{font-weight:bold;}tr.region-message{color:#999;}tr.region-populated{display:none;}tr.add-new .tabledrag-changed{display:none;}.draggable a.tabledrag-handle{cursor:move;float:left;height:1.7em;margin-left:-1em;overflow:hidden;text-decoration:none;}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{background:url(/core/themes/stable/images/core/icons/787878/move.svg) no-repeat 6px 7px;height:14px;margin:-0.4em 0.5em 0;padding:0.42em 0.5em;width:14px;}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/themes/stable/images/core/icons/000000/move.svg);}.touchevents .draggable td{padding:0 10px;}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0;}.touchevents a.tabledrag-handle{height:44px;width:40px;}.touchevents a.tabledrag-handle .handle{background-position:40% 19px;height:21px;}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px;}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px;}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.indentation{float:left;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;width:20px;}[dir="rtl"] .indentation{float:right;margin:-0.4em -0.4em -0.4em 0.2em;padding:0.42em 0.6em 0.42em 0;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/themes/stable/images/core/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/themes/stable/images/core/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/themes/stable/images/core/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/themes/stable/images/core/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/themes/stable/images/core/tree.png) no-repeat -11px center;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.views-admin ul,.views-admin menu,.views-admin dir{padding:0;}.views-admin pre{margin-bottom:0;margin-top:0;white-space:pre-wrap;}.views-left-25{float:left;width:25%;}[dir="rtl"] .views-left-25{float:right;}.views-left-30{float:left;width:30%;}[dir="rtl"] .views-left-30{float:right;}.views-left-40{float:left;width:40%;}[dir="rtl"] .views-left-40{float:right;}.views-left-50{float:left;width:50%;}[dir="rtl"] .views-left-50{float:right;}.views-left-75{float:left;width:75%;}[dir="rtl"] .views-left-75{float:right;}.views-right-50{float:right;width:50%;}[dir="rtl"] .views-right-50{float:left;}.views-right-60{float:right;width:60%;}[dir="rtl"] .views-right-60{float:left;}.views-right-70{float:right;width:70%;}[dir="rtl"] .views-right-70{float:left;}.views-group-box .form-item{margin-left:3px;margin-right:3px;}.views-displays{clear:both;}.views-displays .tabs{border-bottom:0 none;margin:0;overflow:visible;padding:0;}.views-displays .tabs > li{border-right:0 none;float:left;padding:0;}[dir="rtl"] .views-displays .tabs > li{float:right;border-left:0 none;border-right:1px solid #bfbfbf;}.views-displays .tabs .open > a{position:relative;z-index:51;}.views-displays .tabs .views-display-deleted-link{text-decoration:line-through;}.views-display-deleted > details > summary,.views-display-deleted .details-wrapper > .views-ui-display-tab-bucket > *,.views-display-deleted .views-display-columns{opacity:0.25;}.views-display-disabled > details > summary,.views-display-disabled .details-wrapper > .views-ui-display-tab-bucket > *,.views-display-disabled .views-display-columns{opacity:0.5;}.views-display-tab .details-wrapper > .views-ui-display-tab-bucket .actions{opacity:1;}.views-displays .tabs .add{position:relative;}.views-displays .tabs .action-list{left:0;margin:0;position:absolute;top:23px;z-index:50;}[dir="rtl"] .views-displays .tabs .action-list{left:auto;right:0;}.views-displays .tabs .action-list li{display:block;}.views-display-columns .details-wrapper{padding:0;}.views-display-column{box-sizing:border-box;}.views-display-columns > *{margin-bottom:2em;}@media screen and (min-width:45em){.views-display-columns > *{float:left;margin-left:2%;margin-bottom:0;width:32%;}[dir="rtl"] .views-display-columns > *{float:right;margin-left:0;margin-right:2%;}.views-display-columns > *:first-child{margin-left:0;}[dir="rtl"] .views-display-columns > *:first-child{margin-right:0;}}.views-ui-dialog .scroll{overflow:auto;padding:1em;}.views-filterable-options-controls{display:none;}.views-ui-dialog .views-filterable-options-controls{display:inline;}.views-ui-dialog .views-messages{max-height:200px;overflow:auto;}.views-display-setting .label,.views-display-setting .views-ajax-link{float:left;}[dir="rtl"] .views-display-setting .label,[dir="rtl"] .views-display-setting .views-ajax-link{float:right;}.form-item-options-value-all{display:none;}.js-only{display:none;}html.js .js-only{display:inherit;}html.js span.js-only{display:inline;}.js .views-edit-view .dropbutton-wrapper{width:auto;}
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{font-size:small;line-height:1;margin:0;padding:0;vertical-align:baseline;}@media print{#toolbar-administration{display:none;}}.toolbar-loading #toolbar-administration{overflow:hidden;}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-top:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}.toolbar-horizontal .toolbar-tray{position:fixed;width:100%;left:0;}.toolbar-oriented .toolbar-bar{left:0;position:absolute;right:0;top:0;}.toolbar-oriented .toolbar-tray{left:0;position:absolute;right:0;}@media (min-width:61em){.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray{position:relative;display:block;z-index:-999;visibility:hidden;width:1px;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray .toolbar-lining{width:999em;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .home-toolbar-tab + .toolbar-tab .toolbar-tray{display:block;}}.toolbar-oriented .toolbar-bar{z-index:502;}body.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{bottom:0;width:240px;width:15rem;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray{display:none;z-index:501;}.toolbar-oriented .toolbar-tray-vertical{left:-100%;position:absolute;width:240px;width:15rem;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical{left:auto;right:-100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining:before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{bottom:0;content:'';display:block;left:0;position:fixed;top:0;width:240px;width:14rem;z-index:-1;}[dir="rtl"] .toolbar .toolbar-tray-vertical > .toolbar-lining:before{left:auto;right:0;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}.toolbar .toolbar-tray-vertical.is-active,body.toolbar-fixed .toolbar .toolbar-tray-vertical{height:100%;overflow-x:hidden;overflow-y:auto;position:fixed;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{left:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical.is-active{left:auto;right:0;}body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:240px;margin-left:15rem;}@media print{body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:0;}}[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:auto;margin-right:240px;margin-right:15rem;}@media print{[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{bottom:0;position:absolute;right:0;top:auto;}[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{left:0;right:auto;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}.toolbar .toolbar-bar .home-toolbar-tab{display:none;}.path-admin .toolbar-bar .home-toolbar-tab{display:block;}
